<div class="hero-image row">
	<div class="image-1" style="background-image:url(/images/high-res/cover2-min.jpg)"></div>
</div>

<div class="row mb">
	<div class="about  col-md-6 col-xs-12">
		<h2>About</h2>

		Bonsai is a Japanese art form using trees grown in containers. Similar practices exist in other cultures, including the Chinese tradition of penjing from which the art originated, and the miniature living landscapes of Vietnamese hòn non bộ. The Japanese tradition dates back over a thousand years. "Bonsai" is a Japanese pronunciation of the earlier Chinese term penzai. The word bonsai is often used in English as an umbrella term for all miniature trees in containers or pots.


		
	</div>
	<div class="gallery-preview col-md-6 col-xs-12">
		<div class="row">

			<div class="col-xs-4 col-md-3"> 
				<div class="preview" style="background-image:url(/images/low-res/1.jpg)"></div>  
			</div>
			<div class="col-xs-4 col-md-3"> 
				<div class="preview" style="background-image:url(/images/low-res/2.jpg)"></div>  
			</div>
			<div class="col-xs-4 col-md-3"> 
				<div class="preview" style="background-image:url(/images/low-res/3.jpg)"></div>  
			</div>
			<div class="col-xs-4 col-md-3"> 
				<div class="preview" style="background-image:url(/images/low-res/4.jpg)"></div>  
			</div>
			<div class="col-xs-4 col-md-3"> 
				<div class="preview" style="background-image:url(/images/low-res/5.jpg)"></div>  
			</div>
			<div class="col-xs-4 col-md-3"> 
				<div class="preview" style="background-image:url(/images/low-res/6.jpg)"></div>  
			</div>
			<div class="col-xs-4 col-md-3"> 
				<div class="preview" style="background-image:url(/images/low-res/7.jpg)"></div>  
			</div>
			<div class="col-xs-4 col-md-3"> 
				<div class="preview" style="background-image:url(/images/low-res/1.jpg)">
					<a href="/explore"> <div class="mask">
						View More<br>
						<i class="fa fa-arrow-right" aria-hidden="true"></i>
					</div>
					</a>
				</div>
			</div>

		</div>
		
	</div>
	
</div>


<div class="full-width row varieties-wrap">
	<div class="mb varieties">
	<h2>Bonsai varieties</h2>
	<ul>
		<li> Maple Bonsai </li>
		<li> Chinese Bonsai </li>
		<li> Ficus Bonsai </li>
	</ul>
	<ul>
		<li>Adenium Bonsai</li>
		<li>Euphorbia Bonsai</li>
		<li>Tamarind Bonsai</li>
	</ul>
	<ul>
		<li> Maple Bonsai </li>
		<li> Chinese Bonsai </li>
		<li> Ficus Bonsai </li>
	</ul>

	</div>
	
</div>


<div class="mb">
	<div class="location col-md-6 col-xs-12">
		<h2><i class="fa fa-map-marker" aria-hidden="true"></i> Location</h2>


<iframe
  width="100%"
  height="400"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC5l5beicijhdd8jWcorEqmXbZjMFCDrTc
    &q=9.608254,76.5390464" allowfullscreen>
</iframe>

		
	</div>
	<div class="contact col-md-6 col-xs-12">
		<h2><i class="fa fa-address-card-o" aria-hidden="true"></i> Address</h2>
		<div class="address-text">
		Sasikumar KD,<br>
		Narayaneeyam,<br>
		SH Mount PO,<br>
		Kottayam - 686006.<br><br>

		<i class="fa fa-mobile" aria-hidden="true"></i> 9447272157<br>
		<i class="fa fa-phone" aria-hidden="true"></i>0481-2310134<br><br>
		<i class="fa fa-envelope" aria-hidden="true"></i>sasikumarkdkd1@gmail.com
		</div>
		
	</div>
	
</div>