<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="description" content="Tamarind Bonsai Kottayam- Browse and buy Bonsai plants , tools and resources in Kottayam Kerala">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    

    <link rel='stylesheet' href='/stylesheets/layout.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    {{{block "pagestyles"}}}



  </head>
  <body>
  <header>
      <div class="fl logo">
        <a href="/"> <img src="/images/high-res/logo.png"> </a>
      </div>
  		<div class="nav fr">
      <nav>
  			<ul>
  				<a href="/"><li>Home</li> </a>
  				<a href="/explore"><li>Gallery</li></a>
  				<a href="/blog"><li>Blog</li></a>
  				<li>Contact</li>
  			</ul>
        </nav>
  		</div>

      <div class="menu-icon">
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </div>
  </header>
  <div class="container-fluid">
    {{{body}}}
</div>

    <footer>
      
    </footer>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      {{{block "pagescripts"}}}
  

  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N84FKXT');</script>
<!-- End Google Tag Manager -->

  </body>




</html>
