@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html,body{
	width: 100%;
}

body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.menu-icon{    

	position: absolute;
    right: 0;
    color: white;
    margin: 28px;
    font-size: 1.8em;
}

.nav{
	display: none;
}

a {
  color: #00B7FF;
}


.fl{
	float: left;
}

.fr{
	float: right;

}

.nav{
	    padding-right: 50px;
    padding-top: 20px;
    
}

.logo img{
	    margin-left: 48px;
    transform: scale(1.2, 1.2);
    top: -15px;
    position: absolute;
}

.nav ul{
	margin: 0;
	padding: 
}

.nav li{
	list-style: none;
	margin: 0;
	float: left;
	    color: white;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
}

.hero-image{
	height:400px;
	    border-bottom: 10px solid #8BC34A

}

header{
	position: absolute;
	height: 160px;
	width: 100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

@media (min-width: 768px) { 

	.menu-icon{    
		display: none;
	}

	.nav{
		display: block;
	}
}
