

.image-1{
	height: 100%;
	background-size: cover;
    background-position-y: 82%;
    background-position-x: 60%;
}



.mb{
    max-width: 1024px;
    margin: 0 auto;
}


.varieties-wrap{
    background: #8bc34a;
        margin-top: 60px;
}
.about h2,.gallery-preview h2{

}


.preview{
	width: 100px;
    height: 100px;
    margin: 5px;
    border: 3px solid rgba(139, 195, 74, 0.85);
    background-size: cover;
    margin: 5px auto;
}




.full-width .mb{
	min-height: 200px
}

.full-width h2{
	text-align: center;
    font-size: 25px;
}

.varieties ul{
    width: 33%;
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    font-size: 20px;
    line-height: 2;
}





.mask{
    background: rgba(0, 0, 0, 0.42);
    height: 100%;
    color: white;
    font-size: 25px;
    text-align: center;
    /* line-height: 26px; */
}



